* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.images-container {
  background-image: url(../images/sunset.jpg);
  background-size: 100% 700px;
  height: 700px;
}

.images-container p {
  position: absolute;
  top: 40%;
  left: 42%;
  transform: translate(-30%, 42%);
  color: white;
  font-size: 20px;
}
.image-home-button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-60%, 50%);
}

.image-home-button button {
  background-color: lightblue;
  color: black;
  border-radius: 4px;
  font-size: 16px;
  width: 100px;
}

@media (max-width: 500px) {
  /* .images-container {
    background-size: 100% auto;
  } */
  .clothes img {
    width: 200px;
  }
}
